asgiref==3.5.2
beautifulsoup4==4.11.1
distlib==0.3.6
Django==4.1.1
django-cors-headers==3.13.0
django-cors-middleware==1.5.0
django-htmlmin==0.11.0
filelock==3.8.0
html5lib==1.1
mysql-connector-python==8.0.30
platformdirs==2.5.2
protobuf==3.20.1
PyMySQL==1.0.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2022.2
virtualenv==20.16.5
webencodings==0.5.1
whitenoise==6.2.0
