{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastre-se</title>
    <link rel="icon" href="/static/img/recruitment.png">

    <!-- Custom fonts for this template-->
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Secondary CSS-->
    <link href="{% static 'vendor/css/main.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="gradient-animation">

<div class="container">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4-f text-gray-900 mb-4">Crie uma conta</h1>
                        </div>
                        <form class="user" action="{% url 'register_login' %}" method="post">

                            {% csrf_token %}

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.nome }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.sobrenome }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.senha }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.repetir_senha }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Cadastrar conta
                            </button>
                            <hr>
                            <a href="../website/index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Entre com Google
                            </a>
                            <a href="../website/index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Entre com Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'forgot' %}">Esqueceu a Senha?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{% url 'login' %}">Já tem uma conta? Entre!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>